# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
*.log

# Virtual environments
.venv/
env/
venv/

# Environment & credentials
.env
*.key
*.pem

# IDE / editor configs
.vscode/
.idea/

# OS files
.DS_Store
